flows_upgrade.json
[{"id":"bcfedc80cd7bc53c","type":"tab","label":"Reading from NodeMCU","disabled":false,"info":"","env":[]},{"id":"af5e323366fe16e7","type":"mqtt in","z":"bcfedc80cd7bc53c","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"58266214.e79a9c","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":100,"wires":[["0aeb554772f56170","12a363a00e1a990b","789889e6014a902b","dbd227b538cb5673","df6ce5ec9dd78deb"]]},{"id":"6c54be88064ddde2","type":"mqtt in","z":"bcfedc80cd7bc53c","name":"","topic":"humidity","qos":"2","datatype":"auto","broker":"58266214.e79a9c","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":280,"wires":[["09943139f0067087","01f375dcffce68c7","ac4cae1856c5bef3"]]},{"id":"0aeb554772f56170","type":"ui_chart","z":"bcfedc80cd7bc53c","name":"","group":"65b47ec9.eaafd","order":4,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":430,"y":100,"wires":[[]]},{"id":"09943139f0067087","type":"ui_chart","z":"bcfedc80cd7bc53c","name":"","group":"65b47ec9.eaafd","order":6,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":420,"y":280,"wires":[[]]},{"id":"cc4cb69b0d0d391f","type":"ui_switch","z":"bcfedc80cd7bc53c","name":"","label":"lamp switch","tooltip":"","group":"432f986af5b6fe34","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":170,"y":740,"wires":[["8825d7cc2c618cf8","15beea1a253a819e"]]},{"id":"8825d7cc2c618cf8","type":"mqtt out","z":"bcfedc80cd7bc53c","name":"","topic":"lamp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"58266214.e79a9c","x":390,"y":740,"wires":[]},{"id":"12a363a00e1a990b","type":"debug","z":"bcfedc80cd7bc53c","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":60,"wires":[]},{"id":"01f375dcffce68c7","type":"debug","z":"bcfedc80cd7bc53c","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":240,"wires":[]},{"id":"e0dd4a33e038e75f","type":"mqtt in","z":"bcfedc80cd7bc53c","name":"","topic":"RSSI","qos":"2","datatype":"auto","broker":"58266214.e79a9c","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":400,"wires":[["105a4d3818b9d9db","07662ac62309ff5f","9b9b4dde0e0d2433","8083a7962a2dd634"]]},{"id":"105a4d3818b9d9db","type":"ui_chart","z":"bcfedc80cd7bc53c","name":"","group":"65b47ec9.eaafd","order":11,"width":0,"height":0,"label":"RSSI Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-80","ymax":"-50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":410,"y":400,"wires":[[]]},{"id":"07662ac62309ff5f","type":"debug","z":"bcfedc80cd7bc53c","name":"RSSI","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"3100c948bc435c99","type":"comment","z":"bcfedc80cd7bc53c","name":"Read data from NodeMCU","info":"","x":170,"y":20,"wires":[]},{"id":"90b239c9d59231d9","type":"comment","z":"bcfedc80cd7bc53c","name":"Send signals to NodeMCU","info":"","x":190,"y":680,"wires":[]},{"id":"789889e6014a902b","type":"ui_gauge","z":"bcfedc80cd7bc53c","name":"","group":"65b47ec9.eaafd","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"Celcius","format":"{{value}}","min":"20","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"28","seg2":"","className":"","x":440,"y":20,"wires":[]},{"id":"51c8cc6045ac4a4a","type":"influxdb out","z":"bcfedc80cd7bc53c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":630,"y":140,"wires":[]},{"id":"dbd227b538cb5673","type":"json","z":"bcfedc80cd7bc53c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":140,"wires":[["51c8cc6045ac4a4a","9a9deaaae8135c29"]]},{"id":"ac4cae1856c5bef3","type":"json","z":"bcfedc80cd7bc53c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":320,"wires":[["f136bd9d3a82ab76","7bfd0cb62b155519"]]},{"id":"f136bd9d3a82ab76","type":"influxdb out","z":"bcfedc80cd7bc53c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-humidity","measurement":"humidity","precision":"","retentionPolicy":"","x":580,"y":320,"wires":[]},{"id":"9b9b4dde0e0d2433","type":"json","z":"bcfedc80cd7bc53c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":440,"wires":[["2daaa576222f94ea"]]},{"id":"2daaa576222f94ea","type":"influxdb out","z":"bcfedc80cd7bc53c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-RSSI","measurement":"RSSI","precision":"","retentionPolicy":"","x":570,"y":440,"wires":[]},{"id":"15beea1a253a819e","type":"change","z":"bcfedc80cd7bc53c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":800,"wires":[["7256289ea0ea3db5"]]},{"id":"7256289ea0ea3db5","type":"json","z":"bcfedc80cd7bc53c","name":"","property":"payload","action":"","pretty":false,"x":570,"y":800,"wires":[["cd76edfa293f3db8","7bef28ae3f748964"]]},{"id":"cd76edfa293f3db8","type":"ui_chart","z":"bcfedc80cd7bc53c","name":"","group":"432f986af5b6fe34","order":2,"width":0,"height":0,"label":"Switch History Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":880,"y":800,"wires":[[]]},{"id":"8083a7962a2dd634","type":"function","z":"bcfedc80cd7bc53c","name":"threshold","func":"context.previousRSSI = context.previousRSSI || 0;\nvar RSSI = msg.payload;\n\nvar upperThreshold = -60;\nvar lowerThreshold = -80;\n\n// Check if the new temp is different from the previous\nif (context.previousRSSI != RSSI){\n\tif ( RSSI >= upperThreshold){\n\t\tmsg.payload = \"Good WiFi Strength \";\n\t\t\n\t\treturn msg;\n\t}\n\telse if ( RSSI <= lowerThreshold){\n\t\tmsg.payload = \"Poor WiFi Strength \";\n\t\t\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"Fair WiFi Strength \";\n\t        return msg;\n\t    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":480,"wires":[["5180fd608fe13a82"]]},{"id":"5180fd608fe13a82","type":"ui_text","z":"bcfedc80cd7bc53c","group":"65b47ec9.eaafd","order":10,"width":0,"height":0,"name":"","label":"RSSI Stength","format":"{{msg.payload}}","layout":"row-spread","className":"","x":590,"y":480,"wires":[]},{"id":"7bef28ae3f748964","type":"function","z":"bcfedc80cd7bc53c","name":"threshold","func":"\nvar myswitch = msg.payload;\nif ( myswitch == 0)\n    {\n\t\tmsg.payload = \"LAMP OFF \";\n\t\treturn msg;\n\t}\nelse \n    {\n\t    msg.payload = \"LAMP ON \";\n\t    return msg;\n     }\n  \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":840,"wires":[["19670b02076d7c31","067ae2f96905dbc1","d833f9343a54e098"]]},{"id":"19670b02076d7c31","type":"ui_audio","z":"bcfedc80cd7bc53c","name":"","group":"65b47ec9.eaafd","voice":"","always":"","x":840,"y":840,"wires":[]},{"id":"067ae2f96905dbc1","type":"debug","z":"bcfedc80cd7bc53c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":880,"wires":[]},{"id":"d833f9343a54e098","type":"ui_toast","z":"bcfedc80cd7bc53c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":860,"y":920,"wires":[]},{"id":"df6ce5ec9dd78deb","type":"function","z":"bcfedc80cd7bc53c","name":"threshold","func":"context.previousTemp = context.previousTemp || 0;\nvar Temp = msg.payload;\nvar chatId = 1244527162;//<--You telegram ID\nvar upperThreshold = 33;\nvar lowerThreshold = 20;\n\n\nif (context.previousTemp != Temp){\n\tif ( Temp <= lowerThreshold){\n\t\tmsg.payload = {\n\t\t    \"chatId\":chatId,\n            \"type\":\"message\",\n            \"content\":\"It's too cold! \"}\n\t\treturn msg;\n\t\t\t}\n\telse if ( Temp >= upperThreshold){\n\t\tmsg.payload = {\n\t\t    \"chatId\":chatId,\n            \"type\":\"message\",\n            \"content\":\"It's too hot! \"}\n\t\treturn msg;\n\t\t\t}\n\telse\n\t    {\t\n\t        return msg;\n\t    }\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["0f56ae31d41dfa59"]]},{"id":"0f56ae31d41dfa59","type":"telegram sender","z":"bcfedc80cd7bc53c","name":"Send response","bot":"d918e20d.f9968","haserroroutput":false,"outputs":1,"x":600,"y":180,"wires":[[]]},{"id":"b953f7c6d3a2eb7f","type":"join","z":"bcfedc80cd7bc53c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":260,"wires":[["0af675e24751193c"]]},{"id":"0af675e24751193c","type":"function","z":"bcfedc80cd7bc53c","name":"","func":"context.previousTemperature = context.previousTemperature  || 0;\ncontext.previousHumidity = context.previousHumidity || 0;\n\nHumidity = msg.payload.humidity;\nTemperature = msg.payload.temperature;\n\nvar TemplowerThreshold = 20;\nvar HumlowerThreshold = 50;\n\nif ((context.previousTemperature != Temperature)){\n\tif (( Temperature <= TemplowerThreshold)&&(Humidity >= HumlowerThreshold))\n\t{\n\t\t    msg.payload = \"on\";\n\t\t    return msg;\n\t    \n\t}\n\telse\n\t    {\t\n\t        msg.payload = \"off\";\n\t        return msg;\n\t    }\n}\nreturn [Temperature,Humidity];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":260,"wires":[["0aa5577554a2e797"]]},{"id":"9a9deaaae8135c29","type":"link out","z":"bcfedc80cd7bc53c","name":"","mode":"link","links":["5dfc4d9e65c50e3f"],"x":595,"y":100,"wires":[]},{"id":"5dfc4d9e65c50e3f","type":"link in","z":"bcfedc80cd7bc53c","name":"","links":["7bfd0cb62b155519","9a9deaaae8135c29"],"x":595,"y":260,"wires":[["b953f7c6d3a2eb7f"]]},{"id":"7bfd0cb62b155519","type":"link out","z":"bcfedc80cd7bc53c","name":"","mode":"link","links":["5dfc4d9e65c50e3f"],"x":495,"y":360,"wires":[]},{"id":"0aa5577554a2e797","type":"link out","z":"bcfedc80cd7bc53c","name":"","mode":"link","links":["ec45469f6bde92c2"],"x":935,"y":260,"wires":[]},{"id":"402c41e4c4725ed4","type":"mqtt out","z":"bcfedc80cd7bc53c","name":"","topic":"alarm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"58266214.e79a9c","x":390,"y":880,"wires":[]},{"id":"eb681cac84d90783","type":"ui_text","z":"bcfedc80cd7bc53c","group":"432f986af5b6fe34","order":3,"width":0,"height":0,"name":"","label":"alarm","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":940,"wires":[]},{"id":"ec45469f6bde92c2","type":"link in","z":"bcfedc80cd7bc53c","name":"","links":["0aa5577554a2e797"],"x":215,"y":880,"wires":[["402c41e4c4725ed4","eb681cac84d90783"]]},{"id":"a345d991584ef8d5","type":"mqtt out","z":"bcfedc80cd7bc53c","name":"","topic":"reset","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"58266214.e79a9c","x":390,"y":1000,"wires":[]},{"id":"17e94afdba3fd81d","type":"ui_button","z":"bcfedc80cd7bc53c","name":"","group":"432f986af5b6fe34","order":1,"width":0,"height":0,"passthru":false,"label":"Reset NodeMCU","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":1000,"wires":[["a345d991584ef8d5"]]},{"id":"51dcbe99bb12fef3","type":"mqtt in","z":"bcfedc80cd7bc53c","name":"","topic":"SSID","qos":"2","datatype":"auto","broker":"58266214.e79a9c","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":540,"wires":[["6ee5e11d97fedbf6"]]},{"id":"6ee5e11d97fedbf6","type":"ui_text","z":"bcfedc80cd7bc53c","group":"804938cb550fa9e9","order":0,"width":0,"height":0,"name":"","label":"Network Name:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":420,"y":540,"wires":[]},{"id":"a6cb2df8062757a4","type":"mqtt in","z":"bcfedc80cd7bc53c","name":"","topic":"IP","qos":"2","datatype":"auto","broker":"58266214.e79a9c","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":600,"wires":[["7257ae881312ea25"]]},{"id":"7257ae881312ea25","type":"ui_text","z":"bcfedc80cd7bc53c","group":"804938cb550fa9e9","order":0,"width":0,"height":0,"name":"","label":"MQTT IP Address:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":600,"wires":[]},{"id":"58266214.e79a9c","type":"mqtt-broker","name":"MQTT Mosquitto localhost","broker":"192.168.1.89","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"65b47ec9.eaafd","type":"ui_group","name":"Sensors","tab":"4a78d787.3c3d88","order":1,"disp":true,"width":"6","collapse":false},{"id":"432f986af5b6fe34","type":"ui_group","name":"Actuators","tab":"4a78d787.3c3d88","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ea1bc80d.fee498","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"d918e20d.f9968","type":"telegram bot","botname":"MyBot","usernames":"MrNazrinBot","chatids":"1244527162","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"804938cb550fa9e9","type":"ui_group","name":"Info","tab":"4a78d787.3c3d88","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4a78d787.3c3d88","type":"ui_tab","name":"MyPhone Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]